<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>DMSDBConnectionServlet</servlet-name>
        <servlet-class>nz.ac.aut.dms.lab06.DMSDBConnectionServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DMSDBStudentCourses</servlet-name>
        <servlet-class>nz.ac.aut.dms.lab06.DMSDBStudentCourses</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>DMSDBConnectionServlet</servlet-name>
        <url-pattern>/DMSDBConnectionServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DMSDBStudentCourses</servlet-name>
        <url-pattern>/DMSDBStudentCourses</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>example01.jsp</welcome-file>
    </welcome-file-list>
</web-app>
